/* Navigation Menu */
.toplogo{
	height: 6vh;
	float: left;
	margin-top: 0.2%;
	margin-left: 0.5%;
}
.menu {
	background-color: transparent;
}
.list-inline {
	text-decoration: none;
	float: right;
	text-align: center;
	text-transform: uppercase;
	font-family: "Righteous";
	color: white;
	list-style-type: none;
	display: inline;
	margin-right: 1%;
}
.list-inline-item {
	margin-top: 2%;
}
.list-inline-item:hover {
	opacity: 1;
}
.button {
	font-size: 1.3vw;
	color: white;
	opacity: .8;
}
.button:hover {
	text-decoration: none;
	color: #67B8FF;
}
.homebutton {
	color: #FF516C;
}

/* typewriter effect */
h2 {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", serif;
	color: white;
	font-size: 2vw;
}


/* Scroll Indicator */
.scroll {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.scroll span {
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.scroll span:nth-child(2) {
	animation-delay: -0.2s;
}
.scroll span:nth-child(3) {
	animation-delay: -0.4s;
}
@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}


/* buttons */
.btns {
	position: relative;
	bottom: 50vh;
	left: 67.5vw;
}
.btn {
	display: block;
	margin-bottom: 1rem;
	font-size: 2vw;
	font-family: "Noto Sans KR", sans-serif;
	border-radius: 0px;
	width: 8vw;
	color: #FF516C;
	border: 4px solid #FF516C;
	background-color: transparent;
	transition: .6s;
	overflow: hidden;
}
.btn:focus {
  outline: none;
}
.btn:before {
  content: '';
  display: block;
  background: #FF516C;
  width: 100px;
  left: 0;
  opacity: .5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.btn:after {
  content: '';
  display: block;
  background: #FF516C;
  width: 50px;
  left: 30px;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.btn:hover {
  color: #F9F9F9;
  background: #FF516C;
  cursor: pointer;
}
.btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}
.btn:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}


/* design */
#Prologue, #Projects, #Contact, #Credits {
	background-color: white;
}
.box {
	position: absolute;
	width: 340px;
	height: 340px;
	background: transparent;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.boxbox {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 10px;
	background: transparent;
	box-sizing: border-box;
	display: inline-block;
}
.box .boxbox img {
	width: 150px;
	height: 150px;
}

#Projects .container h1:lang(en) {
	color: #FF516C;
	font-size: 3rem;
	font-family: "Playfair Display", sans-serif;
	margin-bottom: 2rem;
}
#Projects .container h1:lang(kr) {
	color: #FF516C;
	font-size: 3rem;
	font-family: "Do Hyeon", sans-serif;
	margin-bottom: 2rem;
}

.container {
	margin-top: 5%;
	color: black;
}
.intro .container h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Playfair Display", sans-serif;
	font-size: 4rem;
	color: #FF516C;
}
.skill-list {
	position: relative;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	border-radius: 50%;
}
.skills .container h1 {
	text-align: center;
	font-family: "Playfair Display", sans-serif;
	font-size: 5rem;
	color: #FF516C;
}
h3:lang(en) {
	font-size: 2rem;
	font-family: "Playfair Display", serif;
	margin-top: 3rem;
}
h3:lang(kr) {
	font-size: 2rem;
	font-family: "Noto Sans KR", serif;
	margin-top: 3rem;
}
h4:lang(en) {
	font-size: 1rem;
	font-family: "Playfair Display", sans-serif;
	margin-bottom: 3rem;
	line-height: 2;
}
h4:lang(kr) {
	font-size: 1.5rem;
	font-family: "Noto Sans KR", sans-serif;
	margin-bottom: 3rem;
	line-height: 1.5;
}
h5 {
	text-transform: uppercase;
	text-align: center;
	font-size: 5rem;
	font-family: "Playfair Display", sans-serif;
	margin-top: 3rem;
	margin-bottom: 2rem;
	color: #FF516C;
}
.container p:lang(en) {
	font-family: "Open Sans", serif;
	color: black;
	line-height: 1.5;
	margin-top: 3rem;
}
.container p:lang(kr) {
	font-family: "Noto Sans KR", serif;
	color: black;
	line-height: 1.5;
	margin-top: 3rem;
}
.credit a {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: black;
	line-height: 1.5;
	font-size: 1.5rem;
}
.copyright {
	color: black;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 2;
}
.update-date {
	color: black;
	position: absolute;
	line-height: 1;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}
i {
	font-size: 1.5rem;
}
a {
	color: #FF516C;
}
a:hover {
	color: #67B8FF;
	text-decoration: none;
}
.profile {
	position: relative;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	border-radius: 50%;
}
.list-unstyled {
	text-align: center;
}
#description {
	padding-left: 2rem;
	padding-right: 2rem;
}
.project_image {
	position: relative;
	width: 40vw;
	margin-bottom: 1rem;
}
.fp-controlArrow.fp-prev {
	border-width: 17px 15px 17px 0;
	border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next {
	border-width: 17px 0 17px 15px;
	border-color: transparent transparent transparent black;
}
@media only screen and (max-width: 600px) {
	.container p {
		font-size: 80%;
		margin-top: 1rem;
	}
	.profile {
		display: none;
	}
	h2 {
		font-size: 4vw;
	}
	h3:lang(en) {
		font-size: 1.5rem;
		margin-top: 1.5rem;
	}
	h3:lang(kr) {
		font-size: 1.5rem;
		margin-top: 1rem;
	}
	h4:lang(en) {
		margin-bottom: 1.5rem;
		line-height: 2;
	}
	h4:lang(kr) {
		font-size: 1rem;
		margin-bottom: 1.5rem;
		line-height: 1.5;
	}
	.logo {
		width: 50%;
	}
	.button {
		font-size: 2vw;
	}
	.container p {
		margin-top: 2rem;
	}
	h5 {
		font-size: 10vw;
	}

	.project_image {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
		float: none;
		height: 35vh;
		width: auto;
		margin-bottom: 1rem;
	}
	.project_text {
		float: none;
		height: 50vh;
	}
	#Projects .container h1:lang(en) {
		font-size: 1.1rem;
	}
	#Projects .container h1:lang(kr) {
		font-size: 1.5rem;
	}
	.box {
		width: 180px;
		height: 180px;
	}
	.boxbox {
		width: 80px;
		height: 80px;
		margin: 5px;
	}
	.box .boxbox img {
		width: 80px;
		height: 80px;
	}
	.btns {
		display: none;
	}
}